.adminSidebar{ 
    /* background-image: linear-gradient(to bottom,  rgba(0,0,0,.9),  #9303FD , #C954F7 ); */
    background-color: #212121;
    position: fixed; 
    width: 250px;
    left: 0;
    top: 70px; 
    bottom: 0;
    box-shadow: 1px 0px 5px rgb(0 0 0 / 15%);
    overflow-x: auto;
    transition: all 0.3s;
}
.adminSidebar ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
.adminSidebar ul li{
    display: flex;
    align-items: center; 
    position: relative;
    text-align-last: left;
    padding-left: 25px; 
    margin: 12px 0;
    cursor: pointer;
}
.adminSidebar ul li:hover{
    background-color: #38393A;
}
.adminSidebar ul li .icon{
    text-align: left; 
    margin-right: 10px; 
}
.adminSidebar ul li span{ 
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
    font-size: 15px;
}

/* width */
.adminSidebar::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .adminSidebar::-webkit-scrollbar-track {
    background: #212121; 
  }
   
  /* Handle */
  .adminSidebar::-webkit-scrollbar-thumb {
    background: #4A4A4A; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  .adminSidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.sidebar-item{
  transition: background-color .4s;
}

.sidebar-title{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5rem;
}
.adminSidebar ul li{
  background-color: #720ABF;
}
.sidebar-item.open > .sidebar-title .dropdownIcon{
  transform: rotate(180deg);
}
.sidebar-title .dropdownIcon{ 
  font-size: 25px;
  transition: transform .3s;
} 
.sidebar-content {
  height: 0;
  overflow: hidden; 
  transition: transform .3s;
}
.sidebar-content span{
  display: block;
  padding: 5px 30px;
}
.sidebar-item.open > .sidebar-content{
  height: auto; 
}

.withoutDropdownItem{
  display: block;
  text-decoration: none;
  color:#fff;
}
.withoutDropdownItem span i{
  display: inline-block;
  width: 1.5rem;
}
.withoutDropdownItem li{
  background-color: #000;
}