.passwordSetting{
    padding: 20px;
    background-color: #303233;
}
.passwordSetting label{
    text-align: left;
    display: block;
    margin-bottom: 8px;
    margin-top: 10px;
}
.passwordSetting input{
    background-color: transparent;
    border: 1px solid #ddd;
    color:#ddd;
    outline: none;
}
.passwordSetting input:focus{
    background-color: transparent;
    color:#ddd;
}
.passwordSetting::placeholder{
    color:#ddd;
}
.passwordSetting hr{
    margin: 50px 0;
}