.pricingDiv{
    padding: 20px;  
    width: calc(100% - 250px);
    left: 250px;
    top: 70px; 
    position: relative;
    overflow: hidden;
    background: #fff;
    color: white;
    height: auto;
    box-sizing: border-box;
}
.pricing-title{
    text-align: center;
    padding : 10px 0;
    font-weight: bold;
    color:rgb(32, 97, 238)
} 
.single-pricing{
    text-align: center;  
    color:#000;
    border-radius: 5px;
    border: 2px solid purple;
    box-shadow: 0 3px 14px #eee; 
}
.card-header{
    padding:30px 0 !important;
}
.single-content-pricing{  
    border-radius: 65px; 
}
.price-desc{
    margin-top: 20px;
    text-align: justify;
} 
.btn-pricing{
    background-color: #000;
    border: none;
    box-shadow: 0 3px 10px #ddd;
    padding: 8px 15px;
    color:#fff;
    border-radius: 10px;
    transition: .2s;
}
.btn-pricing:hover{
    color:#fff;
    background-color: #000;
}