.sidebar{ 
    background-image: linear-gradient(to bottom,  rgba(0,0,0,.9),  #9303FD , #C954F7 );
    position: fixed; 
    width: 250px;
    left: 0;
    top: 70px; 
    bottom: 0;
    box-shadow: 1px 0px 5px rgb(0 0 0 / 15%);
    overflow-x: auto;
    transition: all 0.3s;
}
.sidebar ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
.sidebar ul li{
    display: flex;
    align-items: center; 
    position: relative;
    text-align-last: left;
    padding-left: 25px; 
    margin: 12px 0;
    cursor: pointer;
}
.sidebar ul li:hover{
    background-color: #38393A;
}
.sidebar ul li .icon{
    text-align: left; 
    margin-right: 10px; 
}
.sidebar ul li span{ 
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
}

/* width */
.sidebar::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    background: #212121; 
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #4A4A4A; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }